### Importation des bibliotheque py

In [1]:
import os
import pandas as pd

### charger le dataset

In [2]:
def load_dataset(filepath = "../data/raw/dataset_cv.csv"):
    
    df = pd.read_csv(filepath)
    print("Dataset chargé avec succès :")
    print(df.head())
    return df

# Test
df = load_dataset()

Dataset chargé avec succès :
       id                                            cv_text  \
0  CV0001  Indiquer colline puis. Moindre spectacle leque...
1  CV0002  Vers brusquement mer rang avis venir froid. Dr...
2  CV0003  Réclamer meilleur hier plante mari extraordina...
3  CV0004  Résistance parler sept. Paupière emmener vendr...
4  CV0005  Pouvoir rompre chacun trente dormir. Coucher a...

               job_domain experience_level  \
0              Hôtellerie           Expert
1              Hôtellerie           Expert
2  Finance & Comptabilité           Senior
3            Informatique    Intermédiaire
4            Informatique           Junior

                                              skills
0  Compétence_Hôt_1;Compétence_Hôt_2;Compétence_H...
1  Compétence_Hôt_1;Compétence_Hôt_5;Compétence_H...
2  Compétence_Fin_7;Compétence_Fin_3;Compétence_F...
3  Compétence_Inf_7;Compétence_Inf_6;Compétence_I...
4  Compétence_Inf_3;Compétence_Inf_7;Compétence_I...

In [3]:
print(df.columns.tolist())

['id', 'cv_text', 'job_domain', 'experience_level', 'skills']

In [4]:
expected_columns = ["cv_text", "job_domain", "experience_level", "skills"]

missing = [col for col in expected_columns if col not in df.columns]

if len(missing) > 0:
    print("Colonnes manquantes :", missing)
else:
    print("Toutes les colonnes requises sont présentes.")

Toutes les colonnes requises sont présentes.

In [ ]:
print(df.head())

       id                                            cv_text  \
0  CV0001  Indiquer colline puis. Moindre spectacle leque...
1  CV0002  Vers brusquement mer rang avis venir froid. Dr...
2  CV0003  Réclamer meilleur hier plante mari extraordina...
3  CV0004  Résistance parler sept. Paupière emmener vendr...
4  CV0005  Pouvoir rompre chacun trente dormir. Coucher a...

               job_domain experience_level  \
0              Hôtellerie           Expert
1              Hôtellerie           Expert
2  Finance & Comptabilité           Senior
3            Informatique    Intermédiaire
4            Informatique           Junior

                                              skills
0  Compétence_Hôt_1;Compétence_Hôt_2;Compétence_H...
1  Compétence_Hôt_1;Compétence_Hôt_5;Compétence_H...
2  Compétence_Fin_7;Compétence_Fin_3;Compétence_F...
3  Compétence_Inf_7;Compétence_Inf_6;Compétence_I...
4  Compétence_Inf_3;Compétence_Inf_7;Compétence_I...

In [ ]:
# Vérifier le nombre de doublons
dup_count = df.duplicated().sum()
print(f"Nombre de lignes dupliquées : {dup_count}")

Nombre de lignes dupliquées : 0

In [ ]:
# Supprimer les doublons
df = df.drop_duplicates()

print("Doublons supprimés.")
print(f"Nombre de lignes après nettoyage : {len(df)}")

Doublons supprimés.
Nombre de lignes après nettoyage : 1000

In [ ]:
cv_dup = df["cv_text"].duplicated().sum()
print(f"Doublons dans la colonne CV uniquement : {cv_dup}")

Doublons dans la colonne CV uniquement : 0

In [ ]:
df = df.drop_duplicates(subset=["cv_text"])

In [ ]:
print("Nombre de doublons restants :", df.duplicated().sum())

Nombre de doublons restants : 0

#### Vérifier s'il y a des valeurs manquantes

In [ ]:
print("Valeurs manquantes par colonne :")
print(df.isna().sum())

Valeurs manquantes par colonne :
id                  0
cv_text             0
job_domain          0
experience_level    0
skills              0
dtype: int64

#### Supprimer les lignes où cv_text est vide ou NaN

In [ ]:
df = df.dropna(subset=["cv_text"])

#### supprimer les lignes avec labels manquants

In [ ]:
df = df.dropna(subset=["job_domain", "experience_level", "skills"])

#### Vérifier maintenant que tout est propre

In [ ]:
print(df.isna().sum())
print(f"Nombre de lignes après nettoyage : {len(df)}")

id                  0
cv_text             0
job_domain          0
experience_level    0
skills              0
dtype: int64
Nombre de lignes après nettoyage : 1000

#### Renvoie d'un DataFrame propre

In [ ]:
def clean_dataframe(df):
    print("Nettoyage du DataFrame...")

    # enlever les NaN dans le texte
    df = df.dropna(subset=["cv_text"])

    # remplacer NaN dans les labels (option)
    df["job_domain"] = df["job_domain"].fillna("Unknown")
    df["experience_level"] = df["experience_level"].fillna("Unknown")
    df["skills"] = df["skills"].fillna("Unknown")

    # supprimer doublons
    df = df.drop_duplicates()

    print("Nettoyage terminé.")
    return df

In [5]:
df = clean_dataframe(df)

NameError: name 'clean_dataframe' is not defined